/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cleanfairfax-link-preview-card {
    background-color: #f3f3f4;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
}

.wp-block-cleanfairfax-link-preview-card {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 22px;
    padding-right: 22px;
}

.wp-block-cleanfairfax-link-preview-card input,
.wp-block-cleanfairfax-link-preview-card textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 14px;
}

.wp-block-cleanfairfax-link-preview-card label {
    color: black;
    font-weight: 500;
    font-size: 13px;
}

.wp-block-cleanfairfax-link-preview-card header {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.wp-block-cleanfairfax-link-preview-card .image-container {
    margin-right: 2rem;
    margin-top: 1rem;
}

.wp-block-cleanfairfax-link-preview-card .excerpt-text {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    margin-top: -0.5rem;
    display: inline-block;
}

.wp-block-cleanfairfax-link-preview-card .link-image-selector {
    border: 1px dashed gray;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 14px;
    height: 100%;
}

.wp-block-cleanfairfax-link-preview-card .link-image-preview {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 14px;
    height: 100%;
    padding: 0;
}

.wp-block-cleanfairfax-link-preview-card .link-image-remove {
    display: block;
    margin-bottom: 14px;
    margin-top: 8px;
    padding: 0;
}

.wp-block-cleanfairfax-link-preview-card .block-editor-link-control__search-item.is-current.is-preview,
.wp-block-cleanfairfax-link-preview-card .block-editor-link-control__tools {
    padding-left: 0px;
    padding-right: 0px;
}

.wp-block-cleanfairfax-link-preview-card .block-editor-link-control__tools {
    margin-bottom: 14px;
}